@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.content {
    flex: 1;
    display: flex;
}

.footer {
    height: 40px;
    background-color: #333333;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
}

.sidebar {
    background-color: #F4F5F7;
    display: flex;
    flex-direction: column;
    width: min(28%, 250px);
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
    align-items: center;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    align-items: center;
}

.sidebar h1 {
    align-self: flex-start;
    margin-left: 10px;
}

.sidebar button {
    width: 95%;
    height: 40px;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 1.5em;
    width: 100%;
    margin-bottom: 20px;
    z-index: 0;
}

.project {
    display: flex;
    align-items: center;
    font-size: 0.8em;
    width: 100%;
    z-index: 1;
}

button svg {
    height: 1.25em;
}

.projects svg {
    height: 25px;
}


.projectLeft {
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid green;
    flex: 1;
}

.projectRight {
    display: none;
    z-index: 10;
    border: 1px solid red;
}

.projectRight svg {
    z-index: -1;
}

.projectRight:hover {
    display: flex;
    align-items: center;
}

button {
    display: flex;
    border: none;
    border-radius: 12px;
    padding: 12px;
    cursor: pointer;
    gap: 12px;
    align-items: center;
    font-size: 1.25em;
    background-color: #F4F5F7;
}

.projects button {
    gap: 0;    
}

button:hover {
    background-color: #dddddd;
}

button.active {
    background-color: #cccccc;
    font-weight: 600;
}

.tasks{
    width: 100%;
}

.addTaskBtn {
    background-color: white;
    width: 100%;
}

.header {
    display: flex;
    gap: 12px;
    align-items: center;
}

.header svg {
    height: 30px;
}

.main {
    padding: 0 35px;
    width: 72%;
}

.main h1 {
    white-space: nowrap;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.6);
}

.inputBox {
    width: max(20%, 150px);
    background-color: #F4F5F7;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 12px;
}

.inputField {
    width: 100%;
    font-size: 1.5em;
}

.inputButtons {
    width: 100%;
}

.inputBtn {
    width: 100%;
    display: flex;
    justify-content: center;
}